<div class="container">

    <div class="row">
        <div class="col">
            <a routerLink='/home'>
                <h4>Aaron J Cox</h4>
            </a>
        </div>
        <div class="col">
            <a routerLink='/about'>
                <li class="col">ABOUT</li>
            </a>
        </div>
        <div class="col">
            <a routerLink='/projects'>
                <li class="col">PROJECTS</li>
            </a>
        </div>
        <div class="col">
            <a routerLink='/education'>
                <li class="col">EDUCATION</li>
            </a>
        </div>
        <div class="col">
            <a routerLink='/contact'>
                <li class="col">CONTACT</li>
            </a>
        </div>
        <div class="col">
            <li>RESUME</li>
        </div>


    </div>
</div>