<div class="container text-center footer">

    <div class="row">
        <div class="col">
            <a href="https://github.com/AaronCox73">
                <li>GitHub</li>
            </a>
        </div>
        <div class="col">
            <a href="https://www.youtube.com/channel/UCYx3CNYRuEsioEB2hPGwpHA">
                <li>Youtube</li>
            </a>
        </div>
        <div class="col">
            <a href="https://www.linkedin.com/in/aaronjeffersoncox/">
                <li>Linkedin</li>
            </a>
        </div>
        <div class="col">
            <a href="https://www.instagram.com/dos_strokes/?hl=en">
                <li>Instagram</li>
            </a>
        </div>
    </div>
</div>