
@import '~bootstrap/dist/css/bootstrap.min.css';


// .home{
//     background-image: url('../../assets/images/slc.jpeg');

// }

img{
  height: 100%;
  width: 100%;
}

.myName {
    border: solid 2px;
}